VITE_AWS_PROJECT_REGION = eu-central-1

VITE_AWS_COGNITO_REGION = eu-central-1

VITE_AWS_USER_POOLS_ID = ${USER_POOL_ID}

VITE_AWS_USER_POOLS_WEB_CLIENT_ID = ${WEB_CLIENT_ID}

VITE_API_ENDPOINT = https://${API_DOMAIN}/logextractor

VITE_API_AGGREGATE_ENDPOINT = https://${WEB_API_DOMAIN}/api-key-bo

VITE_API_PAPER_CHANNEL_ENDPOINT = https://${WEB_API_DOMAIN}

VITE_API_DOWNTIME_LOGS_ENDPOINT = https://${WEB_API_DOMAIN}
